
/* deck-list.js */
#addNewDeck {
	text-decoration: none;
}


/* deck-detail.js */
.addNewCard {
	float: left;
}
.deckTitle {
	text-align: center;
}
.studyMode {
	float: right;
}

/* final-score.js */
.finalScorePadding {
	padding-top: 50px;
	padding-bottom: 100px;
}
.scoreboard-image {
	height: 300px;
	width: 350px;
}