/* ===================
	index.html
=================== */

#body {
	background-color: #EAF5EB;
}


/* ===================
	deck-list.js 
=================== */

#addNewDeck {
	text-decoration: none;
}


/* ===================
	deck-detail.js 
=================== */

.addNewCard {
	float: left;
}
.deckTitle {
	text-align: center;
}
.studyMode {
	float: right;
}
.appInstructions {
	padding-top: 150px;
}

/* ===================
	flashcard.js 
=================== */

.studyModeScore {
	padding-top: 50px;
	padding-bottom: 50px;
}
.correctBtn {
	float: right;
}
.incorrectBtn {
	float: left
}
.QApadding {
	padding-bottom: 250px;
}
.flipcard {
	height: 500px;
	width: 400px;
}
.correctIncorrectBtnPadding {
	padding-top: 200px;
}
#flashcardWrapper {
	width: 80%;
	right: 0;
}


/* ===================
	final-score.js 
=================== */

.finalScorePadding {
	padding-top: 50px;
	padding-bottom: 100px;
}
.scoreboard-image {
	height: 300px;
	width: 350px;
}